@charset "UTF-8";
/* CSS Document */

.title{width:1280px;height: 30px;text-align: center;
	top: 10px;float: left;
	font-family: Cambria, "苹方-简";
}
.titlee{right: 100px;float: left;
	width: 200px;
	font-family: Cambria, "苹方-简";	
}
.titleee{width: 240px;float: right;
	font-family: Cambria, "苹方-简";
}

.mylunbo{
    margin:20px auto;
    position: relative;
    width: 1280px;
    height: 640px;
    /*background-color: purple;*/
    overflow: hidden;
}
img{
    width:1280px;
    height:640px;
}
.mylunbo ul{
    position: absolute;
    top: 0;
    left: 0;
    width:500%;
}
ul li{
    float:left;
    list-style-type: none;
}
ol li{
    list-style-type: none;
}
.arrow-l,
.arrow-r {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;/*高度40，上移20*/
    width: 24px;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-family: 'icomoon';
    font-size: 18px;
    z-index: 2;
}
.arrow-r {
    right: 0;
}
.circle {
    position: absolute;
    bottom: 10px;
    left: 600px;
}
.circle li {
    float: left;
    width: 8px;
    height: 8px;
    /*background-color: #fff;*/
    border: 1px solid #606060;
    margin: 0 3px;
    border-radius: 50%;
    /*鼠标经过显示小手*/
    cursor: pointer;
}
.current {
    background-color: black;
}
a:hover{
    color:darkgreen;
}